article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.visuallyHidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .menu-toggle input {

    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 30;
    z-index: 1000;
  }

    .menu-toggle span {

    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #eae5d6;
    border-radius: 3px;
    z-index: 20;
    transform-origin: 4px 0px;
    transition: transform 0.5s, background 0.5s, opacity 0.55s ease;}

img {
  width: 100%;
  display: block;
}

/* stripping style */
	body, h1, h2, h3,button, p, li, ul, a{
    margin: 0;
    padding: 0;
  }

  /* GENERAL STYLING */
  html {
    font-size: 125%;
  }

  body {
    background-color: #815600;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
  }

  .wrapper {
    max-width: 1680px;
    margin: 0 auto;
    width: 85%;
    height: 100%;
  }

  .wrapper2 {
    max-width: 1680px;
    margin: 0 auto;
    width: 86%;
    height: 100%;
  }

  h2 {
    font-family: 'Petit Formal Script', cursive;
    color: #ffff;
    font-size: 2.7rem;
  }

  button {
    background: #1d0303;
    border:  #1d0303;
    color: #ffffff;
    margin-top: 4%;
    padding: 1.5% 4% ; 
    font-family: 'Petit Formal Script', cursive;
  }

  button:hover {
    background: #ffffff;
    color: #1d0303;
    transition: all 0.3s;
  }

/* HEADER STYLES */

  header {
   position: relative;
  }

  nav li {
    list-style-type: none;
    float: left;
    font-weight: 300;
    padding-top: 20px;
    padding: 25px;
  }

  nav ul {
    float: left;
  }

  nav a {
    text-decoration: none;
    color: #ffff;
    /* margin-left: 50px; */
    font-family: 'Roboto', sans-serif;
    display: block;
  }

  nav a:first-child {
    padding-left: 0;
  }

  a:hover {
  color: #500801;
  transition: all 0.3s;
  }

  a:visited {
  color: #1d0303;
  }

  a:active {
    background: #eee;
  }
  
  .header-container  {
    clear: both;
  }

  .header-title {
    float: left;
    width: 40%;
    /* height: 43vh; */
    /* border: 2px solid coral; */
    font-family: 'Petit Formal Script', cursive;
    padding-top: 15%;
  }

  .header-title h1 {
    /* border: 3px dotted purple;  */
    text-align: right;
    color: #ffff;
    line-height: 4.72rem;
    font-size: 4.5rem;
    /* padding-left: 10%; */
  }

  .header-image {
    width: 60%;
    float: left;
    /* border: 2px solid purple; */
  }

  .section1-image {
    width: 85%;
    height: 85%;
    margin-left:6%;
    /* border: 2px solid coral; */
  }

  .section1-image img {
    padding-left: 7%;
    padding-bottom: 5%;
  }

  .section1-icons {
    color: #ffffff;
    font-size: 1rem;
    position: absolute;
    bottom: 61px;
    right: -77px;
    text-align: center;
  }

  .section1-icons i {
    color: #ffffff;
    line-height: 1.8;
  }

  .section1-icons i:hover {
    color: #500801;
  }

  .section1-icons span {
    display: block;
  }

  /* MAIN SECTION */

  /* section1 */

  .section1 {
    background: #500801;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .hand-crafted-image {
    width: 370px;
    height: 370px;
    float: left;
  }

  .hand-crafted-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 5px 10%;
  }

  .section-content {
    width: calc(75% - 10%);
    float: left;
    margin-left: 5%;
    height: 20vw;
    /* border: 2px solid coral; */
  }
  .section1 h2 {
    font-family: 'Petit Formal Script', cursive;
    color: #ffff;
    font-size: 2.7rem;
  }

  .section-content p {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.45;
    letter-spacing: 0.2px;
    margin-top: 2%;
    font-weight: 300;
  }

  .section-content button p {
    background: #1d0303;
    border:  #1d0303;
    color: #ffffff;
    margin-top: 4%;
    padding: 1.5% 4% ; 
    font-family: 'Petit Formal Script', cursive;
  }

  button:hover{
    background: #815600;
    color: #1d0303;
    transition: all 0.3s;
  }


  .section2 h2 {
    text-align: center;
    margin: 3% 0;
   
  }

  .section2-image-container li {
    width: calc((100% / 3) - 2%);
    float: left;
    margin: 1%;
    list-style-type: none;
    margin-bottom: 8%;
  }

  /* section 2 */

  .section2 h2 {
    text-align: center;
    margin: 3% 0;
   
  }

  .section2-image-container li {
    width: calc((100% / 3) - 2%);
    float: left;
    margin: 1%;
    list-style-type: none;
    margin-bottom: 8%;
  }

  /* section 3 */

  .wrapper3 {

    max-width: 1680px;
    margin: 0 auto;
    width: 75%;
    height: 100%;
  }

  .section3 {
    background: #500801;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .section3 i {
    width: 33%;
    float: left;
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
  }

  .section3 p {
    font-family: 'Petit Formal Script', cursive;
    padding-top: 3%;
  }

  /* section 4 */

  .section4{
    background: #815600; 
  }

  .fall-trends-container,
  .fall-trends-image-container {
    width: 50%;
    height: 70vh;
    float: left;
  }

  .fall-trends-container {
    padding-left: 7%;
  }

  .fall-trends-container h2 {
    margin-top: 17%;
  }

  .fall-trends-container p {
    color: #ffffff;
    margin: 5% 20% 0 0;
    margin-bottom: 2%;
    font-weight: 300;
    line-height: 1.45;
  }

   .fall-trends-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .fall-trends-container button {
    background: #1d0303;
    color: #ffff;
    font-size: 1.25rem;
  }

  .fall-trends-container button:hover {
    background: #500801;
  }

  /* .section4-two {
    width: 50%;
    float: left;
  } */

  /* section 5 */
  
   .section5  {
    background: #815600; 
  }

  .vegan-leather-container,
  .vegan-leather-image-container {
    width: 50%;
    height: 70vh;
    float: right;
  }

  .vegan-leather-container {
    padding-left: 7%;
  }

  .vegan-leather-container h2 {
    margin-top: 17%;
  }

  .vegan-leather-container p {
    color: #ffffff;
    margin: 5% 20% 0 0;
    margin-bottom: 2%;
    font-weight: 300;
    line-height: 1.45;
  }

   .vegan-leather-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .vegan-leather-container button {
    display: inline-block;
    background: #1d0303;
    color: #ffff;
    font-size: 1.25rem;
  }

  .fall-trends-container button p,
  .vegan-leather-container button p {
    white-space: nowrap;

  }

  .vegan-leather-container button:hover {
    background: #500801;
  }

    /* section 6 */

    .section6 {
      background: #500801;
      padding-top: 3%;
      padding-bottom: 3%;
      position: relative;
    }

    .footer-links{
      float: left;
      /* border: 2px dotted black; */
      width: 10%;
      padding-top: 7%;
    }

    .footer-links ul {
      list-style-type: none;
      line-height: 1.45;
      /* margin-top: 106%; */
    }

    .footer-links a {
      text-decoration: none;
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
    }

    .footer-links a:hover {
      color: #1d0303
    }

    .footer-links a:visited {
      color: #1d0303;
    }

    .footer-links a:active {
     background: #eee;
    }

    .stay-updated-section {
      float: left;
      /* border: 2px dotted black; */
      width: 65%;
    }

    .stay-updated-section h2,
    .contact-section h3 {
      font-family: 'Petit Formal Script', cursive;
      color: #ffffff;
      font-size: 2.25rem;
      text-align: center;
      /* margin-top: 31%; */
      padding-bottom: 5%;
      letter-spacing: 0.2px;
      line-height: 1.45;
    }

    .stay-updated-section h2 {
      /* margin-top: 5%; */
      font-size: 2.7rem;
    }

    .stay-updated-section p {
      color: #ffffff;
      text-align: center;
      margin-top: -1%;
      padding: 0;
    }

    input {
      width: 66%;
      padding: 0.5%;
    }

    input[type=text] {
      padding: 5px;
      /* border: 1px solid blue; */
    }

    .stay-updated-section button {
      color: #ffffff;
      padding: 1%;
      width: 20%;
    }

    .stay-updated-section button p {
      font-family: 'Petit Formal Script', cursive;
    }

    .subscribe-section {
      position: relative;
      left: 13%;
      /* border: 2px solid coral; */

    }

    .contact-section {
      float: left;
      /* border: 2px dotted black; */
      width: 25%;
      white-space: nowrap;
      padding-top: 5%;
    }

    .contact-section h3 {
      text-align: right;
      
    }

    .contact-section p {
      text-align: right;
      color: #ffffff;
    }

    .footer-copyright {
      background: #1d0303;
      height: 50%;
    }

    .footer-copyright p {
      color: #ffffff;
      text-align: center;
      padding: 1%;
    }

/* Media Query Smaller Computer View */
@media only screen and (max-width: 1553px) {

  .header-title h1 {
    text-align: right;
    color: #ffff;
    line-height: 4rem;
    font-size: 3.5rem;
  }

}

@media only screen and (max-width: 1453px) {
  .hand-crafted-image {
    width: 300px;
    height: 300px;
    float: left;
  }
  .section1 h2 {
    font-family: 'Petit Formal Script', cursive;
    color: #ffff;
    font-size: 2.2rem;
  }
  
  .section-content p {
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1.45;
    letter-spacing: 0.2px;
    margin-top: 2%;
    font-weight: 300;

  }
}

/* Media Query Smaller Computer View */
@media only screen and (max-width: 1222px) {

  .section1 {
    background: #500801;
    padding-top: 5%;
  }
  .header-title h1 {
    text-align: right;
    color: #ffff;
    line-height: 3.3rem;
    font-size: 2.8rem;
  }


  .section1-icons {
    right: -35px;
    bottom: 22px;
  }

  .section1 h2 {
    font-family: 'Petit Formal Script', cursive;
    color: #ffff;
    font-size: 1.3rem;
  }

  .section1 h2 {
    font-size: 1.6rem;
}
  
  .section-content p {
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1.2;
    letter-spacing: 1px;
    margin-top: 2%;
    font-weight: 300;
  }

  .section3 i {
    width: 33%;
    float: left;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
  }

  .section1 {
    background: #500801;
    padding-top: 5%;
    padding-bottom: 7%;
}

  .hand-crafted-image {
    width: 270px;
    height: 270px;
    float: left;
  }

  .footer-links ul {
    margin: 0;
  }

  .stay-updated-section {
    float: left;
    width: 100%;
  }

  .subscribe-section span {
    display: block;
  }

  .stay-updated-section button {
    color: #ffffff;
    padding: 1%;
    width: 20%;
    margin: 0 26%;
  }

  .contact-section {
    float: left;
    white-space: nowrap;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
  }
  .footer-links {
    float: left;
    width: 100%;
  }

  .footer-links a {
    font-size: 1.2rem;
  }

  .footer-links ul {
     margin: 0;
     padding: 0;
  }

  .footer-links li {
    float: left;
    padding-left: 15%;
  }

  .stay-updated-section h2 {
    margin-top: 5%;
    font-size: 2.7rem;
  }

  .stay-updated-section p {
    color: #ffffff;
    text-align: center;
    margin-top: -2.5%;
    margin-bottom: 2%;
    padding: 0;
  }

  .stay-updated-section button {
    color: #ffffff;
    padding: 1%;
    width: 20%;
    margin: 3% 26%;
    margin-bottom:0;  
  }

  input {
    width: 66%;
    padding: 1.5%;
}

  .contact-section h3 {
    text-align: center;
    margin-top: -27px;
  }
  .contact-section h3 {
    text-align: center;
    margin-top: -27px;
    padding-bottom: 0;
  }
  .contact-section p {
    text-align: center;
    color: #ffffff;
  }

}


@media only screen and (max-width: 1065px) {
  .header-title h1 {
    text-align: right;
    color: #ffff;
    line-height: 3rem;
    font-size: 2.2rem;
  }

  .hand-crafted-image {
    width: 100%;
    height: 50%;
    float: left;
  }

  .section-content {
    width: 100%;
    float: left;
    height: 30vh;
    margin: 0;
  }

  .section1 h2 {
    font-size: 1.6rem;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

@media only screen and (max-width: 940px) {
  .section-content {
    height: 35vh;
  }

  .section2 h2 {
    font-size: 2rem;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
  }
  
  
  .section3 i {
    width: 100%;
    float: none;
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff;
    padding-bottom: 5%;
    padding-top: 5%;
  }

  .section4 {
    background: #815600;
    position: relative;
  }

  .fall-trends-container {
    width: 100%;
    height: 60vh;
  }

  .fall-trends-image-container {
    float: none;
    width: 100%;
    position: absolute;
  }

  .fall-trends-container h2 {
    margin-top: 17%;
    text-align: center;
  }

  .fall-trends-image-container img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  .fall-trends-inner-container {
      position: relative;
      top: 59%;
  }

  .fall-trends-container button {
    margin: 5% 30%;
  }


  .vegan-leather-container {
    width: 100%;
    height: 60vh;
    position: relative;
    top: 325px;
  }

  .vegan-leather-image-container {
    float: none;
    width: 100%;
    position: relative;
    bottom: 300px;
  }

  .vegan-leather-image-container img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  .vegan-leather-inner-container {
      position: relative;
      top: 59%;
  }

  .vegan-leather-container h2 {
    margin-top: 17%;
    text-align: center;
  }

  .vegan-leather-container button {
    margin: 5% 30%;
  }

  .section6 {
    background: #500801;
    padding-top: 3%;
    padding-bottom: 3%;
    position: relative;
    margin-top: 80%;  
  }
}

@media only screen and (max-width: 754px) {

.section1-icons, nav {
    display: none;
  }
  header-container {
    clear: none;
  }
  .header-title {
    float: none;
    width: 40%;
    font-family: 'Petit Formal Script', cursive;
    padding-top: 11%;
    position: relative;
    left: 9px;
    width: 104%;
  }

  .header-title h1 {
    text-align: right;
    color: #ffff;
    line-height: 4.3rem;
    font-size: 3.5rem;
  }

  .header-image {
    width: 60%;
    float: none;
  }

  .section1-image {
    width: 188%;
    height: 85%;
    margin-left: -38%;
  }

  .vegan-leather-container p {
    color: #ffffff;
    margin: 5% 10% 0 0;
    margin-bottom: 0px;
    margin-bottom: 2%;
    font-weight: 300;
    line-height: 1.45;
  }

  .footer-links a {
    font-size: 0.9rem;
  }

  .footer-links li {
    float: left;
    padding-left: 12%;
  }
  
}
@media only screen and (max-width: 584px) {

  .vegan-leather-container h2 {
    margin-top: 11%;
    text-align: center;
    font-size: 2rem;
  }
  .vegan-leather-container p {
    font-size: 1rem;
    padding-top: 5%;
  }

  .fall-trends-container h2 {
    margin-top: 11%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
  }
  .vegan-leather-container p {
    font-size: 1rem;
    padding-top: 5%;
  }

  .section6 {
    background: #500801;
    padding-top: 3%;
    padding-bottom: 3%;
    position: relative;
    margin-top: 100%;
  }
}

@media only screen and (max-width: 465px) {
  .image2 {
    display: none;
  }
  .header-title h1 {
    text-align: right;
    color: #ffff;
    line-height: 3rem;
    font-size: 2.5rem;
  }
  .section6 {
    background: #500801;
    padding-top: 3%;
    padding-bottom: 3%;
    position: relative;
    margin-top: 80%;
  }

  .section-content {
    height: 50vh;
  }

  .section2-image-container ul {
    padding-bottom: 10%;
  }

  .section2-image-container li {
    width: calc((100% / 2) - 2%);
    float: right;
    margin: 1%;
    list-style-type: none;
  }

  .section3 i {
    width: 100%;
    float: none;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    padding-bottom: 5%;
    padding-top: 5%;
  }
  .vegan-leather-container h2,
  .fall-trends-image-container h2 {
    margin-top: 11%;
    text-align: center;
    font-weight: 300;
  }

  .section6 {
    background: #500801;
    padding-top: 3%;
    padding-bottom: 3%;
    position: relative;
    margin-top: 100%;
  }
}

@media only screen and (max-width: 461px) {
  .section6 {
    background: #500801;
    padding-top: 3%;
    padding-bottom: 3%;
    position: relative;
    margin-top: 130%;
  }

  
}

@media only screen and (max-width: 387px) {

  .section2 h2 {
    text-align: center;
    margin: 5% 0;
    font-size: 1.4rem;
    font-weight: 300;
  }

  .section6 {
    background: #500801;
    padding-top: 3%;
    padding-bottom: 3%;
    position: relative;
    margin-top: 111%;
  }
  .vegan-leather-inner-container {
    position: relative;
    top: 50%;
  }

  .vegan-leather-container p,
  .fall-trends-container p {
    font-size: 0.8rem;
    padding-top: 5%;
  }

  .vegan-leather-image-container {
    float: none;
    width: 100%;
    position: relative;
    bottom: 383px;
  }

  .vegan-leather-container h2, 
  .fall-trends-image-container h2 {
    margin-top: 11%;
    text-align: center;
    font-weight: 300;
    font-size: 1.7rem;
  }
  .footer-links a {
    font-size: 1rem;
  }

  .section-content p {
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1;
    letter-spacing: 1.2px;
    margin-top: 2%;
    font-weight: 300;
  }
  .footer-links li {
    float: left;
    padding-left: 5%;
  }

  .stay-updated-section h2,
  .contact-section h3 {
    margin-top: 5%;
    font-size: 1.8rem;
    font-weight: 300;
  } 
  input {
    width: 76%;
    padding: 1.5%;
  }
  .stay-updated-section p {
    font-size: 0.7rem;
  }
  .subscribe-section {
    position: relative;
  }
  .contact-section p {
    font-size: 0.8rem;
  }
  .subscribe-section button {
    padding: 5%;
  }

  .footer-copyright p {
    color: #ffffff;
    text-align: center;
    padding: 5%;
    font-size: 0.8rem;
  }
}